:root {
  --header-color: navy; 
  --other-header-color: #333;
  --text-color: #333;    /* Main body text color */
  --background-color: #ffffff; /* Page background color */
  --border-color: rgb(157, 154, 154);
  --header-font: "Quicksand", sans-serif;
  --standard-font: "Mulish", sans-serif;
  --nav-font: "Source Code Pro", monospace;
  --nice-font-there: "Yuji Boku", serif;
}

* {
	margin: 0;
	padding: 0;
    font-family: var(--standard-font);
}

header {
    margin: 0;
}

header h3, footer {
    text-align: center;
    padding: 15px;
    background: var(--header-color);
    color: white;
    font-family: var(--header-font);
}

header ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    background-color: var(--other-header-color);
    align-items: center;
}
header ul li{
    flex: 1 1 auto;
}
header ul li:hover{
    background-color: white;
    color: var(--other-header-color);
}
header ul li:hover a{
    color: var(--other-header-color);
}
header li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
    color: white;
    font-family: var(--nav-font);
}
main {

    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 30px;
    color: var(--text-color);
}
main h1
{
    text-align: center;
 
    grid-column: 1/-1;
}
.main, .aside{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    
    margin: 10px;
}

.card{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    
    margin: 10px;
}

.card h2{
    border-radius: 4px 4px 0px 0px;
    background-color: var(--header-color);
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px; 
}

.my-bio {
  padding-left: 20px;  
  padding-top: 20px;
  padding-bottom: 20px;
}
.country-state.bio{
    padding-left: 20px;  
}

.bio-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.photo {
    padding: 20px;
}

.bio-picture {
    
    width: auto;
    height: 150px;
    border: solid 1px var(--border-color);
}
h3 {
    text-align: center;
}
hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.country {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
}

.flags{
    position: relative;
    padding-right: 165px;
}

.flags img
{
    width: auto;
    position: absolute;
    border: 1px solid var(--border-color);
    height:80px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.second-flag
{
    transform: translate(7%, 0%)
}

.flags:hover .first-flag
{
    opacity: 0;
}

.resources {
    text-align: center;
    
}

.resources ul{
    display: inline-block;
    text-align: left;
    align-items: center;
    padding-top: 20px;
}

li::marker {
  color: var(--text-color);
}

#lastModified { 
    color: yellow;
    font-size: 12px;
}
