:root {
  --header-color: navy; 
  --other-header-color: #333;
  --text-color: #333;    /* Main body text color */
  --background-color: #ffffff; /* Page background color */
  --border-color: rgb(157, 154, 154);
  --header-font: "Quicksand", sans-serif;
  --standard-font: "Mulish", sans-serif;
  --nav-font: "Source Code Pro", monospace;
  --nice-font-there: "Yuji Boku", serif;
}

* {
	margin: 0;
	padding: 0;
    font-family: var(--standard-font);
}

header {
    margin: 0;
    display: grid;
    color: var(--background-color);
}
#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    color: var(--background-color);
}
#menu::before {content: "☰";}
#menu.open::before{content: "X";}

header p, footer {
    background: var(--header-color);
    color: white;
    font-family: var(--header-font);
}

header p {
    float: left;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
}


nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--header-color);
    color: white;
    align-items: stretch;
    padding: 0;
}

header ul li{
    display: none;

    text-align: center;
}

.open li {
    display: block;
}


header ul li:hover{
    background-color: white;
    color: var(--other-header-color);
}
header ul li:hover a{
    color: var(--other-header-color);
}
header li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
    color: white;
    font-family: var(--nav-font);
}
header ul li {
    padding: 0;
}
main {

    padding: 30px;
    color: var(--text-color);
}
main h1
{
    text-align: center;
}

section{
    padding: 0.5rem;
    margin: 1rem auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    grid-gap: 65px;
}

.temple {
    
    width: auto;
    height: 180px;
    
    border: solid 1px var(--border-color);
}
figcaption {
    text-align: center;
    color: var(--text-color);
}
h3 {
    text-align: center;
}
hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.country {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 15px;
}

#lastModified { 
    color: yellow;
    font-size: 12px;
}
